@import 'reset.less';

.test-border() {
  border: 2px dotted grey;
}

.mobile-margins {
  margin-left: 0;
}

.mobile-padding {
  padding-right: 10px;
}

.desktop-margins {
  margin-left: 12%;
}

.desktop-padding {
  padding-right: 12%;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .mobile-margins;
}

header, .content-block, .footer {
  .mobile-padding;
}

header {
  background-color: orange;
  display: flex;
  justify-content: space-between;
  li {
    display: inline-block;
    padding-left: 10px;
  }
}

.content-block {
  height: 200px;
  .test-border;
}

footer {
  margin-top: auto;
  background-color: orange;
  text-align: center;
}

@media screen and (min-width: 700px) {
  .app {
    .desktop-margins;
  }
  header, .content-block, .footer {
   .desktop-padding;
}
}

