@import 'reset.less';

@light-green: #BAD8B6;
@very-light-green: #E1EACD;

body {
  background-color: @light-green;
}

.test-border() {
  border: 3px dotted white;
}

.inline-img {
  display: inline-block;
}

.inline-text {
  display: inline-block;
}

.app {
  min-height: 100vh;
}


header {
  background-color: white;
  nav, h1, div {
    display: inline-block;
  }
  li {
    display: inline-block;
    padding-left: 10px;
  }
}

section {
  .test-border;
  background-color: @very-light-green;
}

.read-arrow, .read-moment, .button {
  .test-border;
}

.read-arrow, .read-moment {
  display: inline-block;
}

footer {
  margin-top: auto;
  background-color: white;
  text-align: center;
}


